@using Microsoft.AspNetCore.Identity
@using kindergartenAPP.Data;
@inject SignInManager<Uzytkownik> signInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TwojePrzedszkole</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/kindergartenAPP.styles.css" asp-append-version="true" />
</head>

<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-light bg-white border-bottom" style="box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);">
            <div class="container-fluid">
                <a class="navbar-brand col-lg-3 ms-md-5 m-2" asp-area="" asp-page="/Index">
                        <img class="img-fluid" src="~/images/logo.png" />
                </a>
                <button class="navbar-toggler col-10 m-auto" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>
                <div class="buttons navbar-collapse collapse d-lg-inline-flex justify-content-lg-end justify-content-between me-lg-5 ms-4 mt-lg-0 mt-4 text-center fs-5">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Strona główna</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Institution/Index">Placówki</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/News/Index">Aktualności</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Other/Information">Informacje</a>
                        </li>
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Opiekunowie"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/LegalGuardian/Registration/Index">Zarządzaj wnioskami</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/LegalGuardian/Index">Moje konto</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="#Logout">Wyloguj się</a>
                            </li>
                        }
                        else if (signInManager.IsSignedIn(User) && User.IsInRole("Zarządzanie placówką"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Manage/Index">Zarządzaj placówką</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="#Logout">Wyloguj się</a>
                            </li>
                        }
                        else if (signInManager.IsSignedIn(User) && User.IsInRole("Administrator"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/News/allNews/Index">Zarządzaj aktualnościami</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="#Logout">Wyloguj się</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Account/Login">Zaloguj się</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
        <div class="overlay" id="Logout">
            <div class="wrapper position-relative rounded bg-light" style="margin: 20% auto 0px;padding: 20px; width: 35%;transition: all 5s ease-in-out; border-style: solid; border-color:#ec008c;">
                <h2 class="text-center fs-1 fw-bold" style="color:#ec008c">Czy na pewno chcesz się wylogować? 🤔</h2>
                <div class="content">
                    <div class="container position-relative" style="padding: 30px 0;">
                        <div class="row justify-content-center">
                            <form class="btn rounded" asp-area="" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                <div class="form-group row justify-content-center mt-5 mb-3">
                                    <button type="submit" class="btn fs-2 rounded col-md-5 mb-3" style="color:#ec008c; border:solid; border-color:#ec008c">Tak</button>
                                    <div class="col-md-1"></div>
                                    <a href="#" class="btn rounded fs-2 col-md-5 text-decoration-none mb-3" style="color:#ec008c; border:solid; border-color:#ec008c">Nie</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted mt-auto">
        <div class="container">
            LukaSystem&copy; 2023 - kindergartenAPP - <a asp-area="" asp-page="/Privacy">Prywatność</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
    @await RenderSectionAsync("Content", required: false)
</body>
</html>



@*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-page="/Index">
            <img src="~/images/logo.png" height="90%" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item dropdown">
                    <a class="nav-link text-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Placówki
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-area="" asp-page="Index" asp-route-id="1">Przedszkola niepubliczne</a></li>
                        <li><a class="dropdown-item" asp-area="" asp-page="Index" asp-route-id="2">Przedszkola publiczne</a></li>
                        <li><a class="dropdown-item" asp-area="" asp-page="Index" asp-route-id="3">Żłobki</a></li>
                    </ul>

                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Informacje">Informacje</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Account/Register">Zarejestruj się</a>
                </li>
                @if (signInManager.IsSignedIn(User))
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Manage/Index">Zarządzaj placówką</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Account/Logout">Wyloguj się</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Account/Login">Zaloguj się</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>*@