@page
@model IndexModel

@{
    ViewData["Title"] = "Główna";
}

<div class="row mt-5">
    <h1 class="text-center fw-bold mt-5 mb-5" style="color:#ec008c; font-family: 'Zen Tokyo Zoo', cursive;"> Informacje na temat strony</h1>
    <div class="row justify-content-center col-md-4 m-auto">
        <img class="img-fluid" src="~/images/Koperta.png" />
        <div>
            <h3 class="text-center">Kontakt z właścicielem</h3>
            <p>
                <div class="text-center">
                    <div class="d-inline-block">Adres e-mail:</div>
                    <a class="d-inline-block" href="#">admin@softcell.pl</a>
                </div class="text-center">
                <div class="text-center">
                    <div class="d-inline-block">Telefon kom.:</div>
                    <span class=" d-inline-block">+48 728 913 455</span>
                </div>
            </p>
            <h3 class="text-center">Dane właściciela portalu</h3>
            <p>
                <div class="text-center">
                    <div class="d-inline-block">Imię i nazwisko:</div>
                    <span class="d-inline-block">Łukasz Latocha</span>
                </div>
                <div class="text-center">
                    <div class="d-inline-block">Adres:</div>
                    <span class="d-inline-block">42-202 Częstochowa, ul.Myszkowska 24</span>
                </div>
            </p>
        </div>
    </div>
    <div class="row justify-content-center col-md-4 m-auto">
        <img class="img-fluid" src="~/images/Komputer.png" />
        <div class="">
            <h3 class="text-center">O nas</h3>
            <div>
                    TwojePrzedszkole jest to strona pozwalająca rodzicom lub opiekuną rejestrować swoje dzieci do przdszkoli lub żłobków.
                    W naszej bazie znajdują się przedszkola z całej Polski, więc wybór jest ogromny. 
                    Ułatwiamy również dyrekcji placówek dodadanie własnej placówki do naszej bazy.
            </div>
        </div>
    </div>
    <div class="row justify-content-center col-md-4 m-auto">
        <img class="img-fluid" src="~/images/Zarowka.png" />
        <div>
            <h3 class="text-center">Plany rozwoju</h3>
            <ul>
                W dalszych planach naszej strony mamy zamiar poszerzyć zakres naszych usług:
                <li>
                    Możliwość dodawania klubów malucha, atrakcji dla dzieci
                </li>
                <li>
                    Możliwośc towrzenia stron dla placówek
                </li>
            </ul>
        </div>
    </div>
</div>