@page
@model kindergartenAPP.Pages.Account.AccessDeniedModel

@{
}

<div class="row justify-content-center mt-5">
    <div class="row justify-content-center col-5 mt-5">
        <h1 class="text-center text-danger">BRAK DOSTĘPU</h1>
        <p class="fs-2">Musisz najpierw się zarejestrować jako rodzic / opiekun</p>
        <p class="row justify-content-center rounded" style="border: solid; border-color: #ec008c">
            <a class="btn fs-3" style="color: #ec008c"  asp-area="" asp-page="/Account/Register">Zarejestruj się</a>
        </p>
    </div>
</div>