@page
@model kindergartenAPP.Pages.Account.ConfirmEmailModel

@{
    ViewData["Title"] = "Potwierdź adres email";
}

<div class="row justify-content-center mt-5">
    <div class="row justify-content-center col-5 mt-5">
        <h1 class="text-center text-dark">@ViewData["Title"]</h1>
         <partial name="_StatusMessage" model="Model.StatusMessage" />
        <p class="row justify-content-center rounded" style="border: solid; border-color: #ec008c">
            <a class="btn fs-3" style="color: #ec008c" asp-area="" asp-area="" asp-page="/Account/Login">Zaloguj się</a>
        </p>
    </div>
</div>

@*<div>
    <h1 class="text-center" style="color: #ec008c">@ViewData["Title"]</h1>
    <partial name="_StatusMessage" model="Model.StatusMessage" />

    <div>
        <a class="nav-link text-dark" asp-area="" asp-page="/Account/Login">Zaloguj się</a>
    </div>
</div>*@

