@page
@model kindergartenAPP.Pages.Account.LogoutModel

@{
    ViewData["Title"] = "Log out";
}

<header class="p-3 mt-5 row rounded position-absolute top-50 start-50 translate-middle" style="background:#ec008c">
        <div class="row justify-content-center m-auto" style="font-size: 60px">Zostałeś poprawnie wylogowany</div>
        <div class="row justify-content-end mt-5 mb-3">
            <div class="row">
                <img class="img-fluid col-4" src="~/images/Hand.png" />
                <img class="img-fluid col-7" src="~/images/SmileyFace.png" />
            </div>
        </div>
</header>