@page
@model kindergartenAPP.Pages.Account.ResetPasswordConfirmationModel

@{
    ViewData["Title"] = "Potwierdzenie zresetowania hasła";
}

<h1>@ViewData["Title"]</h1>
<p>
    Twoje hasło zostało zmienione. <a asp-page="/Account/Login">kliknij tutaj aby się zalogować</a>.
</p>
