@page
@model kindergartenAPP.Pages.LegalGuardian.AddGradeModel


<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="mt-5 text-center" style="color:#ec008c;">Wystaw ocenę</h1>
        <hr style="color:#ec008c;" />
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OcenaPlacowka.PlacowkaID" class="form-control" />
            <input type="hidden" asp-for="OcenaPlacowka.UzytkownikID" class="form-control" />
            <div class="form-group">
                <label asp-for="OcenaPlacowka.Ocena" class="control-label"></label>
                <input asp-for="OcenaPlacowka.Ocena" min="0" max="10" class="form-control" />
                <span asp-validation-for="OcenaPlacowka.Ocena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="col-12 mt-3">
                    <span asp-validation-for="OcenaPlacowka" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row justify-content-center mt-5 mb-md-3 m-auto">
                <button id="forgotPasswordSubmit" type="submit" class="btn fs-2 rounded col-md-5 mb-3" style="color:#ec008c; border:solid; border-color:#ec008c">Wystaw</button>
                <div class="col-md-1"></div>
                <a class="btn rounded fs-2 col-md-5 text-decoration-none mb-3" style="color:#ec008c; border:solid; border-color:#ec008c" asp-page="/Institution/Details" asp-route-id="@Model.OcenaPlacowka.PlacowkaID">Powrót</a>
            </div>
        </form>
    </div>
</div>

