@page
@model kindergartenAPP.Pages.Manage.AddModel


<h1 class="text-center fw-bold mt-5 mb-5" style="color:#ec008c; font-family: 'Zen Tokyo Zoo', cursive; font-size: 70px;">Dodaj swoją nową placówkę</h1>
<hr style="color: #ec008c" />
<div class="row mb-5">
    <div class="row mb-5">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Placowka.ID" />
            @*Pole Id użytkownika*@
            <input type="hidden" asp-for="Placowka.UzytkownikID" class="form-control" />

            <div class="mt-3">
                <h3 class="text-center">Nazwa i typ placówki</h3>
                @*Pole nazwy placówki*@
                <div class="row">
                    <div class="form-group col-md-6 mb-md-0 mb-2">
                        <label asp-for="Placowka.Nazwa" class="control-label"></label>
                        <input asp-for="Placowka.Nazwa" class="form-control" style="border-color: #ec008c" />
                        <span asp-validation-for="Placowka.Nazwa" class="text-danger"></span>
                    </div>
                    @*Pole typu placówku*@
                    <div class="form-group col-md-6">
                        <label asp-for="Placowka.PlacowkaTypID" class="control-label"></label>
                        <select asp-for="Placowka.PlacowkaTypID" asp-items="ViewBag.PlacowkaTypID" class="form-select" style="border-color: #ec008c"></select>
                    </div>
                </div>
            </div>

            <div class="mt-5">
                <h3 class="text-center">Szczegóły</h3>
                <div class="row">
                    <div class="form-group col-md-12 mb-md-0 mb-2">
                        <label asp-for="Placowka.Opis" class="control-label"></label>
                        <textarea asp-for="Placowka.Opis" class="form-control" rows="4" style="border-color: #ec008c"></textarea>
                        <span asp-validation-for="Placowka.Opis" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6 mb-md-0 mb-2">
                        <label asp-for="Placowka.Udogodnienia" class="control-label"></label>
                        <textarea asp-for="Placowka.Udogodnienia" class="form-control" rows="4" style="border-color: #ec008c"></textarea>
                        <span asp-validation-for="Placowka.Udogodnienia" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Placowka.Program" class="control-label"></label>
                        <textarea asp-for="Placowka.Program" class="form-control" rows="4" style="border-color: #ec008c"></textarea>
                        <span asp-validation-for="Placowka.Program" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="mt-5">
                <h3 class="text-center">Adres</h3>
                <div class="row">
                    <div class="form-group col-md-3 mb-md-0 mb-2">
                        <label asp-for="Placowka.MiejscowoscID" class="control-label"></label>
                        <select asp-for="Placowka.MiejscowoscID" asp-items="ViewBag.MiejscowoscID" class="form-select" style="border-color: #ec008c"></select>
                        <span asp-validation-for="Placowka.MiejscowoscID" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-2 mb-md-0 mb-2">
                        <label asp-for="Placowka.Dzielnica" class="control-label"></label>
                        <input asp-for="Placowka.Dzielnica" class="form-control" style="border-color: #ec008c" />
                        <span asp-validation-for="Placowka.Dzielnica" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3 mb-md-0 mb-2">
                        <label asp-for="Placowka.Ulica" class="control-label"></label>
                        <input asp-for="Placowka.Ulica" class="form-control" style="border-color: #ec008c" />
                        <span asp-validation-for="Placowka.Ulica" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-2 mb-md-0 mb-2">
                        <label asp-for="Placowka.Dom" class="control-label"></label>
                        <input asp-for="Placowka.Dom" class="form-control" style="border-color: #ec008c" />
                        <span asp-validation-for="Placowka.Dom" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-2 ">
                        <label asp-for="Placowka.Lokal" class="control-label"></label>
                        <input asp-for="Placowka.Lokal" class="form-control" style="border-color: #ec008c" />
                        <span asp-validation-for="Placowka.Lokal" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="mt-5">
                <h3 class="text-center">Kontakt</h3>
                <div class="row">
                    <div class="form-group col-md-4 mb-md-0 mb-2">
                        <label asp-for="Placowka.Telefon" class="control-label"></label>
                        <input asp-for="Placowka.Telefon" class="form-control" style="border-color: #ec008c" />
                        <span asp-validation-for="Placowka.Telefon" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4 mb-md-0 mb-2">
                        <label asp-for="Placowka.Komorka" class="control-label"></label>
                        <input asp-for="Placowka.Komorka" class="form-control" style="border-color: #ec008c" />
                        <span asp-validation-for="Placowka.Komorka" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="Placowka.Email" class="control-label"></label>
                        <input asp-for="Placowka.Email" class="form-control" style="border-color: #ec008c" />
                        <span asp-validation-for="Placowka.Email" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="mt-5">
                <h3 class="text-center">Strona internetowa</h3>
                <div class="form-group">
                    <input asp-for="Placowka.Strona" class="form-control" style="border-color: #ec008c" />
                    <span asp-validation-for="Placowka.Strona" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row justify-content-center mt-5 mb-md-3 m-auto">
                <button type="submit" class="btn fs-2 rounded col-md-5 mb-3" style="color:#ec008c; border:solid; border-color:#ec008c">Zapisz</button>
                <div class="col-md-1"></div>
                <a class="btn rounded fs-2 col-md-5 text-decoration-none mb-3" style="color:#ec008c; border:solid; border-color:#ec008c" asp-page="./Index">Powrót</a>
            </div>

        </form>
    </div>
</div>

