@page
@model kindergartenAPP.Pages.LegalGuardian.CreateModel

<h1 class="text-center fw-bold mt-5 mb-5" style="color:#ec008c; font-family: 'Zen Tokyo Zoo', cursive; font-size: 70px">Zapisz swoje dziecko</h1>
<hr style="color: #ec008c" />
<div class="row mb-5 p-5">
    <div class="row mb-5">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Dziecko.OpiekunID" class ="form-control" />
            <input type="hidden" asp-for="Dziecko.PlacowkaID" class="form-control" />

            <div class="form-group">
                <label asp-for="Dziecko.PlacowkaOddzialID" class="control-label"></label>
                <select asp-for="Dziecko.PlacowkaOddzialID" class ="form-select" asp-items="ViewBag.PlacowkaOddzialID"></select>
                <span asp-validation-for="Dziecko.PlacowkaOddzialID" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="form-group mt-3 col-md-6">
                    <label asp-for="Dziecko.Imie" class="control-label"></label>
                    <input asp-for="Dziecko.Imie" class="form-control" />
                    <span asp-validation-for="Dziecko.Imie" class="text-danger"></span>
                </div>
                <div class="form-group mt-3 col-md-6">
                    <label asp-for="Dziecko.Nazwisko" class="control-label"></label>
                    <input asp-for="Dziecko.Nazwisko" class="form-control" />
                    <span asp-validation-for="Dziecko.Nazwisko" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group mt-3 col-md-6">
                    <label asp-for="Dziecko.Pesel" class="control-label"></label>
                    <input type="text" asp-for="Dziecko.Pesel" minlength="11" maxlength="11" class="form-control" />
                    <span asp-validation-for="Dziecko.Pesel" class="text-danger"></span>
                </div>
                <div class="form-group mt-3 col-md-6">
                    <label asp-for="Dziecko.DataUrodzenie" class="control-label"></label>
                    <input asp-for="Dziecko.DataUrodzenie" class="form-control" />
                    <span asp-validation-for="Dziecko.DataUrodzenie" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group mt-3 col-md-4">
                    <div class="form-group">
                        <label asp-for="Dziecko.PlecKOD" class="control-label"></label>
                        <select asp-for="Dziecko.PlecKOD" class="form-select" asp-items="ViewBag.PlecKOD"></select>
                    </div>
                </div> 
                <div class="form-group mt-3 col-md-4">
                    <label asp-for="Dziecko.NarodowoscID" class="control-label"></label>
                    <select asp-for="Dziecko.NarodowoscID" class="form-select" asp-items="ViewBag.NarodowoscID"></select>
                </div>
                <div class="form-group mt-3 col-md-4">
                    <label asp-for="Dziecko.ObywatelstwoID" class="control-label"></label>
                    <select asp-for="Dziecko.ObywatelstwoID" class="form-select" asp-items="ViewBag.ObywatelstwoID"></select>
                </div>
            </div>

            <div class="row">
                <div class="col-12 mt-3">
                    <span asp-validation-for="Dziecko" class="text-danger"></span>
                </div>
            </div>
            
            <div class="form-group row justify-content-center mt-5 mb-3">
                <button type="submit" class="btn fs-2 rounded col-md-5 mb-2" style="color:#ec008c; border:solid; border-color:#ec008c">Dodaj</button>
                <div class="col-md-1 col-12"></div>
                <a class="btn rounded fs-2 col-md-5 text-decoration-none mb-2" style="color:#ec008c; border:solid; border-color:#ec008c" asp-page="/LegalGuardian/Registration/Index">Powrót</a>
            </div>
        </form>
    </div>
</div>

